
.form{
    background-color: white;
    border-radius: 5px;
    
    margin: 2px auto;
    padding: 20px;
    
}

.form-body{
    text-align: left;
    padding: 10px 5px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

